<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Identifier</key>
			<string>Normal</string>
			<key>IsExpandable</key>
			<true/>
			<key>IsExpanded</key>
			<false/>
			<key>AdditionalRows</key>
			<integer>1</integer>
			<key>IsVisible</key>
			<true/>
			<key>Title</key>
			<string>Name</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>TextField</string>
			<key>IsExpandable</key>
			<false/>
			<key>IsExpanded</key>
			<false/>
			<key>AdditionalRows</key>
			<integer>0</integer>
			<key>IsVisible</key>
			<false/>
			<key>Title</key>
			<string></string>
			<key>Value</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Identifier</key>
			<string>Normal</string>
			<key>IsExpandable</key>
			<true/>
			<key>IsExpanded</key>
			<false/>
			<key>AdditionalRows</key>
			<integer>1</integer>
			<key>IsVisible</key>
			<false/>
			<key>Title</key>
			<string>Expire Date</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>DatePicker</string>
			<key>IsExpandable</key>
			<false/>
			<key>IsExpanded</key>
			<false/>
			<key>AdditionalRows</key>
			<integer>0</integer>
			<key>IsVisible</key>
			<false/>
			<key>Title</key>
			<string></string>
			<key>Value</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Identifier</key>
			<string>Normal</string>
			<key>IsExpandable</key>
			<true/>
			<key>IsExpanded</key>
			<false/>
			<key>AdditionalRows</key>
			<integer>1</integer>
			<key>IsVisible</key>
			<true/>
			<key>Title</key>
			<string>Choose Notifications</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Normal</string>
			<key>IsExpandable</key>
			<false/>
			<key>IsExpanded</key>
			<false/>
			<key>AdditionalRows</key>
			<integer>0</integer>
			<key>IsVisible</key>
			<false/>
			<key>Title</key>
			<string></string>
			<key>Value</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
